@import "assets/fonts/Sofia/sofia.css";
@import url('assets/css/global.css');
@import url('assets/css/grid.css');
@import url('assets/css/content.css');
@import url('assets/css/header.css');
@import url('assets/css/search.css');
@import url('assets/css/blog-banner.css');
@import url('assets/css/sidebar.css');
@import url('assets/css/footer.css');
@import url('assets/css/single-post.css');
@import url('assets/css/error-404.css');



*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Default */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: 0.3s ease all;
}

h1,
h2 {
    color: var(--dark-color);
    font-weight: 800;
    line-height: 1.2;
    margin: 10px 0;
    letter-spacing: -0.005rem;
}



p {
    color: rgba(0, 0, 0, 0.7);
    margin: 10px 0;
    font-weight: 400;
    font-size: 1.09rem;
    line-height: 30px;
    letter-spacing: 0.005rem;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* Default Ends */

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    background-color: #F5F5F5;
    letter-spacing: 0.005em;
    ;
    position: relative;
}

.main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

main {
    flex-grow: 1;
    margin-top: 80px;
}