.error-404{
    padding: 70px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-404 h1{
    font-size: 42px;
    color: #32466b;
}

.error-404 form {
    max-width: 460px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid rgb(233, 230, 230);
}

.error-404 input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 14px 8px;
    background: transparent;
    color: #32466b;;
}

.error-404 button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #32466b;
}