footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--footer-bg-color);
    width: 100%;
    margin-top: 80px;
}

footer .container {
    position: relative;
}

.company-detail {
    margin-top: -60px;
    background: #FAFAFA;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.company-detail img {
    width: 70%;
}

.company-detail,
.categories,
.useful-links {
    padding: 30px;
}

footer .social-profiles a,
.single-post .author-info a {
    display: inline-block;
    margin-right: 4px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    font-size: 26px;
}

footer .social-profiles a.facebook,
.single-post a.facebook {
    color: #3A5794;
}

footer .social-profiles a.instagram,
.single-post a.instagram {
    color: #EB4C4D;
}

footer .social-profiles a.twitter,
.single-post a.twitter {
    color: #1C9CEA;
}

footer .social-profiles a.youtube,
.single-post a.youtube {
    color: #F70000;
}

footer h3 {
    text-align: center;
}

footer .categories ul,
footer .useful-links ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer h3,
footer a {
    color: #fff;
    font-size: 16px;
}

footer li {
    margin-bottom: 12px;
}


.copyright {
    background: rgb(49, 47, 47);
}

.copyright p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 4px 0;
}

.copyright a {
    color: var(--link-color);
}

.copyright span{
    margin: 0 2px;
}
@media (max-width:1199.98px) {}


/* For iPad Pro */
@media (max-width:991.98px) {


    /* For iPad - Small device*/
    @media (max-width:768.98px) {
        .company-detail {
            max-width: 360px;
            margin: -60px auto 0 auto;
        }
    }

    @media (max-width:575.98px) {

        .categories,
        .useful-links {
            padding: 12px;
        }

    }
}